@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
  scroll-behavior: smooth;
}

#formID {
  font-family: Arial, Helvetica, sans-serif;
}

#formSection{
  background-color: #E35046;
}

* {
  box-sizing: border-box;
}

#formH3 {
  color: white;
  padding-top: 80px;
  margin-top: 0px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #144955;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: #144955;
  background-color: white;
}

.form-container {
  padding: 20px;
  width: 40%;
  margin:auto;
}


#slogan {
  text-align: center;
  width: 100%;
  display: block;
  background-image: url(../assets/hero.jpg);
  height: 807px;
  background-position:top;
  background-size:cover;
  /* transform: translate(10px,-20px); */
  background-attachment:fixed;
  padding-top: 700px;
  background-blend-mode:screen;

}

#slogan h1 {

  font-size: 70px;
  color: white;
  font-family:'Bebas Neue', serif;
  
}
#slogan h1 a {
  text-decoration: none;
  color: white;
}
#slogan svg {
  transform: scale(2.5);
}


#slogan section {
  display: inline-block;
  position: relative;
  margin-top: 180px;
}

#slogan h3 {
  font-size: 35px;
  color:white ;
  padding: 40px;
  font-family:'Bebas Neue', serif;

}

#slogan button {
  width: 250px;
  height: 60px;
  font-size: 30px;
  color: white;
  background-color: #E35046;
  border-radius: 15px;
  border-style: none;
  padding:5px;
  font-family:'Bebas Neue', serif;
  
}

#slogan button:hover {
  cursor: pointer;
}

#slogan button a {
  text-decoration: none;
  color: white;
}

#slogan div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.divv {

  margin-top: 60px;

}

#slogan {
  margin-top: 0;
}

#betterDonation{
  width: 100%;
}

.seperator{
  height: 100px;
  background-color:#144955 ;
}