@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #144955;
  width: 100%;
  height: 270px;
  box-shadow: 5px 5px 15px grey;
  font-size: 15px;
  line-height: 1;
}
.footer h2 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1.85%;
  letter-spacing: 2;
}
.footer p {
  text-align: justify;
  color: #144955;
  font-size: 16px;
  margin-top: 2%;
  width: 110%;
}

#allcol {
  display: flex;
  flex-direction: row;
  margin-top: 1.7%;
  padding-top: 2%;
  padding-bottom: 2%;
}
#firstcol {
  width: 50%;
  margin-left: 5.86%;
}
#firstcol ul li {
  display: inline-block;
  text-decoration: none;
  float: left;
}
#firstcol ul .text {
  margin-top: 8%;
  font-family: 'Elsie', cursive;
  margin-left: 5%;
  font-size: 28px;
  color: white;
}

#secondcol {
  margin-left: 7.81%;
}

#secondcol a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-top: 15%;
}
#secondcol a:hover {
  color: #e35046;
}
#thirdcol {
  margin-left: 5.86%;
}
#thirdcol li {
  color: white;
  list-style: none;
  font-size: 20px;
  padding-top: 11%;
}
#last {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -8%;
}

.footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
  margin-bottom: 3.7%;
  width: 90%;
  margin-left: 50px;
  margin-bottom: 10%;
}
#copy {
  margin-left: 90px;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: 160px;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 0%;
}

.social-icons img {
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-top: 0%;
  margin-right: 30px;
  border-radius: 100%;
  cursor: pointer;
}
.social-icons img:hover {
  background-color: #e35046;
}
