@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#slogan {
  text-align: center;
  width: 100%;
  display: block;
  background-image: url(../assets/flow-1183490.jpg);
  height: 807px;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 4px 10px #b9b9b9;
}

#slogan h1 {
  font-size: 70px;
  color: white;
  font-family: 'Bebas Neue', serif;
}

#slogan section {
  display: inline-block;
  position: relative;
  margin-top: 400px;
}

#slogan h3 {
  font-size: 35px;
  color: white;
  padding: 40px;
  font-family: 'Bebas Neue', serif;
}

#slogan button {
  width: 300px;
  height: 80px;
  font-size: 50px;
  color: white;
  background-color: #e35046;
  border-style: none;
  padding: 8px;
  font-family: 'Bebas Neue', serif;
  margin-top: 70px;
  transition: 0.6s;
}

#slogan button:hover {
  cursor: pointer;
  background-color: #144955;
}

#slogan button a {
  text-decoration: none;
  color: white;
}

#slogan div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
header {
  height: 130px;
  position: sticky;
  z-index: 50;
  top: 0px;
  font-size: 32px;
  background-color: #e35046;
  /* box-shadow: 0px 0px 2px #000000; */
}

header #logo {
  width: 140px;
  margin-left: 20px;
  margin-top: -5px;
}

header ul {
  list-style-type: none;
  margin-top: -100px;
  margin-left: 160px;
}

header li {
  display: inline-block;
}

header li a {
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  margin-left: 15px;
  transition: font-size 0.2s;
}

header li a:hover {
  font-size: 50px;
}
