@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


header {
    height: 0px;
    font-size: 32px;
    z-index: 20;
    top: 0px;
}

header #logo{
    width: 150px;
    margin-left: 20px;
}

header ul{
    list-style-type: none;
    margin-top: -100px;
    margin-left: 160px;
}


header li{
    display: inline-block;
}



header li a{
   font-family:'Bebas Neue', cursive;
   color: white;
   font-size: 40px;
   text-align: center;
   padding: 14px 25px;
   text-decoration: none;
   margin-left: 15px;
   transition: font-size 0.2s;   
}

header li a:hover{
    font-size: 50px;
}
