/* #firstImage {
    display: inline-block;

}

#firstText {
    display: inline-block;
}




#secondImage {
    display: inline-block;
}

#secondText {
    display: inline-block;
}

#thirdImage {
    display: inline-flex;
}


#thirdText {
    display: inline-block;
}


#headline {
    color: red;
    text-align: center;
} */


* {
    box-sizing: border-box;
}


#headline {
    font-size: 50px;
    text-align: center;
    margin: 30px;
    font-weight: bold;
}

#whyDiv {

    width: 80%;
    margin-left: auto;
    margin-right: auto;

    
}

.firstArticle {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    margin-top: 20px;
    }


.firstArticle p {
    width: 50%;
    font-size: 25px;
    text-align: justify;
    height: 400px;
}

.firstArticle img {
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}


