/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */

* {
  box-sizing: border-box;
}

#controlPage {
  width: 89%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#ourMission {
  background-color: #144955;
  font-family: 'Courier New', Courier, monospace;
  font-family: inherit !important;
  margin-top: 70px;
  height: 250px;
}

#ourMission h1 {
  font-size: 65px;
  font-weight: bolder;
  margin-bottom: 15px;
  padding-top: 25px;
  color: white;
  margin-right: 320px;
}

#line {
  border-left: 9px solid #e35046;
  height: 100px;
  margin-left: 340px;
  margin-bottom: 40px;
}

#ourMission p {
  color: rgb(236, 234, 234);
  font-size: 22px;
  padding-bottom: 25px;
  line-height: 150%;
}

#ourVision {
  background-color: #144955;
  font-family: 'Courier New', Courier, monospace;
  font-family: inherit !important;
  margin-top: 70px;
  height: 250px;
}

#ourVision h1 {
  font-size: 65px;
  font-weight: bolder;
  margin-bottom: 15px;
  padding-top: 25px;
  color: white;
  margin-right: 360px;
}

#ourVision p {
  color: rgb(236, 234, 234);
  font-size: 22px;
  padding-bottom: 25px;
  line-height: 150%;
}
